/* screen - artbook1 */

.artbook1 {
  align-items: flex-start;
  background-color: var(--dark-burgundy);
  display: flex;
  height: 1040px;
  overflow: hidden;
  width: 1728px;
}

.artbook1 .overlap-group {
  background-image: url(../img/rectangle-4.png);
  background-position: 50% 50%;
  background-size: cover;
  gap: 132px;
  height: 1117px;
  min-width: 1728px;
  padding: 75.5px 35px;
}

.artbook1 .vector {
  align-self: flex-end;
  cursor: pointer;
  height: 62px;
  margin-bottom: 37.81px;
  width: 64px;
}

.artbook1 .overlap-group1 {
  background-image: url(../img/rectangle-5-1.png);
  background-size: 100% 100%;
  gap: 9px;
  height: 918px;
  min-width: 1281px;
  padding: 14.5px 21.5px;
}

.artbook1 .left {
  background-color: var(--melon);
  height: 859px;
  width: 605px;
}

.artbook1 .right {
  background-color: var(--melon);
  cursor: pointer;
  height: 859px;
  width: 605px;
}

.artbook1 .overlap {
  align-items: flex-start;
  display: flex;
}
