/* screen - artbook-7 */

.artbook-7 {
  align-items: flex-start;
  background-color: var(--dark-burgundy);
  display: flex;
  height: 1040px;
  overflow: hidden;
  width: 1728px;
}

.artbook-7 .overlap-group {
  background-image: url(../img/rectangle-4.png);
  background-position: 50% 50%;
  background-size: cover;
  gap: 132px;
  height: 1117px;
  min-width: 1728px;
  padding: 75.5px 35px;
}

.artbook-7 .vector {
  align-self: flex-end;
  cursor: pointer;
  height: 62px;
  margin-bottom: 37.81px;
  width: 64px;
}

.artbook-7 .overlap-group1 {
  background-image: url(../img/rectangle-5-3.png);
  background-size: 100% 100%;
  gap: 9px;
  height: 918px;
  min-width: 1281px;
  padding: 13.5px 21.5px;
}

.artbook-7 .left {
  background-color: var(--melon);
  cursor: pointer;
  height: 859px;
  width: 623px;
}

.artbook-7 .right {
  background-color: var(--melon);
  cursor: pointer;
  height: 859px;
  width: 589px;
}

.artbook-7 .overlap {
  align-items: flex-start;
  display: flex;
}
