/* screen - download-2 */

.download-2 {
  background-color: var(--white);
  width: 1280px;
}

.download-2 .overlap-group1 {
  background-image: url(../img/back-3.png);
  background-size: 100% 100%;
  height: 720px;
  position: relative;
  width: 1280px;
  z-index: 1;
}

.download-2 .rectangle-2 {
  background-color: var(--black-3);
  height: 720px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.download-2 .the-right-way-of-madness-5 {
  color: var(--white);
  font-family: var(--font-family-butcherman_caps-regular);
  font-size: 45px;
  font-weight: 400;
  left: 802px;
  line-height: 72.0px;
  top: 373px;
  width: 478px;
}

.download-2 .the-right-way-of-madness-6 {
  left: 815px;
  line-height: 64.5px;
  top: 213px;
  width: 452px;
}

.download-2 .the-right-way-of-madness-7 {
  left: 0;
  line-height: normal;
  top: 534px;
  width: 452px;
}

.download-2 .home {
  cursor: pointer;
  height: 121px;
  left: 1140px;
  min-width: 123px;
  position: fixed;
  top: 599px;
  z-index: 2;
}

.download-2 .overlap-group {
  align-items: flex-start;
  background-image: url(../img/pngegg-1-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 121px;
  min-width: 121px;
  padding: 51.7px 36.7px;
}

.download-3 {
  align-items: flex-start;
  display: flex;
}
