/* screen - font-info */

.font-info {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1280px;
}

.font-info .overlap-group1 {
  background-image: url(../img/back-3.png);
  background-size: 100% 100%;
  height: 720px;
  position: relative;
  width: 1280px;
  z-index: 1;
}

.font-info .rectangle-2 {
  background-color: var(--black-3);
  height: 720px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.font-info .the-right-way-of-madness-5 {
  left: 815px;
  line-height: 64.5px;
  top: 213px;
  width: 452px;
}

.font-info .the-right-way-of-madness-6 {
  left: 0;
  line-height: normal;
  top: 534px;
  width: 452px;
}

.font-info .frame {
  cursor: pointer;
  height: 112px;
  left: 853px;
  position: absolute;
  top: 389px;
  width: 375px;
}

.font-info .home {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 121px;
  left: 1140px;
  min-width: 123px;
  position: fixed;
  top: 599px;
  z-index: 2;
}

.font-info .overlap-group {
  align-items: flex-start;
  background-image: url(../img/pngegg-1-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 121px;
  min-width: 121px;
  padding: 51.7px 36.7px;
}

.font-info .the-right-way-of-madness-7 {
  cursor: pointer;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  transform: rotate(-0.05deg);
}
