/* screen - frame-19 */

.frame-19 {
  align-items: flex-start;
  display: flex;
  min-width: 325px;
  overflow-x: hidden;
}

#overlay-frame-19 {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
}

.frame-19 .frame-19-1 {
  align-items: flex-start;
  background-color: var(--black-2);
  border-radius: 15px;
  display: flex;
  height: 449px;
  justify-content: flex-end;
  margin-left: 2000px;
  margin-top: -716px;
  min-width: 325px;
  padding: 27px 10px;
}

.frame-19 .irish-grover-designe {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 64px;
  min-height: 373px;
  width: 295px;
}

.frame-19 .span0 {
  line-height: 70.4px;
}
