/* screen - frame-16 */

.frame-16 {
  align-items: flex-start;
  display: flex;
  min-width: 325px;
  overflow-x: hidden;
}

#overlay-frame-16 {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
}

.frame-16 .frame-16-1 {
  align-items: flex-start;
  background-color: var(--black-2);
  border-radius: 15px;
  display: flex;
  height: 449px;
  justify-content: flex-end;
  margin-left: 2371px;
  margin-top: -1233px;
  min-width: 325px;
  padding: 27px 17px;
}

.frame-16 .rubik-beastly-design {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 64px;
  min-height: 373px;
  width: 288px;
}

.frame-16 .span0 {
  line-height: 70.4px;
}
