/* screen - image-40 */

.image-40 {
  align-items: flex-start;
  background-color: var(--black-2);
  display: flex;
  min-width: 325px;
}

.image-40 .image-40-1 {
  background-image: url(../img/image-40.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 449px;
  margin-left: 2296px;
  margin-top: -717px;
  width: 325px;
}
