/* screen - image-54 */

.image-54 {
  align-items: flex-start;
  background-color: var(--black-2);
  display: flex;
  min-width: 365px;
}

.image-54 .image-54-1 {
  background-image: url(../img/image-54.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 601px;
  margin-left: -3417px;
  margin-top: 1870px;
  width: 365px;
}
