/* screen - image-44 */

.image-44 {
  align-items: flex-start;
  background-color: var(--black-2);
  display: flex;
  min-width: 325px;
}

.image-44 .image-44-1 {
  background-image: url(../img/image-44.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 449px;
  margin-left: 2673px;
  margin-top: -1212px;
  width: 325px;
}
