/* screen - image-35 */

.image-35 {
  align-items: flex-start;
  background-color: var(--black-2);
  display: flex;
  min-width: 325px;
}

.image-35 .image-35-1 {
  background-image: url(../img/image-35@2x.png);
  background-size: 100% 100%;
  height: 449px;
  margin-left: 1919px;
  margin-top: -1212px;
  width: 325px;
}
