/* screen - image-49 */

.image-49 {
  align-items: flex-start;
  background-color: var(--black-2);
  display: flex;
  min-width: 365px;
}

.image-49 .image-49-1 {
  background-image: url(../img/image-49.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 601px;
  margin-left: -1060px;
  margin-top: -3285px;
  width: 365px;
}
