/* screen - image-52 */

.image-52 {
  align-items: flex-start;
  background-color: var(--black-2);
  display: flex;
  min-width: 365px;
}

.image-52 .image-52-1 {
  background-image: url(../img/image-52.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 601px;
  margin-left: -3454px;
  margin-top: -1148px;
  width: 365px;
}
