/* screen - image-45 */

.image-45 {
  align-items: flex-start;
  background-color: var(--black-2);
  display: flex;
  min-width: 325px;
}

.image-45 .image-45-1 {
  background-image: url(../img/image-45.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 449px;
  margin-left: 3050px;
  margin-top: -717px;
  width: 325px;
}
