/* screen - image-37 */

.image-37 {
  align-items: flex-start;
  background-color: var(--black-2);
  display: flex;
  min-width: 325px;
}

.image-37 .image-37-1 {
  background-image: url(../img/image-37.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 449px;
  margin-left: 2296px;
  margin-top: -1212px;
  width: 325px;
}
