/* screen - image-53 */

.image-53 {
  align-items: flex-start;
  background-color: var(--black-2);
  display: flex;
  min-width: 365px;
}

.image-53 .image-53-1 {
  background-image: url(../img/image-53.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 601px;
  margin-left: -1060px;
  margin-top: 787px;
  width: 365px;
}
