/* screen - index */

.index {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1280px;
}

.index .back {
  height: 720px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1280px;
  z-index: 2;
}

.index .x2024-12-02-121844 {
  height: 311px;
  left: 721px;
  object-fit: cover;
  position: fixed;
  top: 332px;
  width: 559px;
  z-index: 1;
}

.index .logotype {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 177px;
  left: 780px;
  min-width: 179px;
  position: fixed;
  top: 213px;
  z-index: 3;
}

.index .overlap-group {
  background-image: url(../img/pngegg-1-1@2x.png);
  padding: 66.7px 68.4px;
}

.index .logo-type {
  height: 38px;
  width: 39px;
}

.index .trw {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 177px;
  left: 780px;
  min-width: 179px;
  position: fixed;
  top: 521px;
  z-index: 4;
}

.index .overlap-group1 {
  background-image: url(../img/pngegg-3-1@2x.png);
  padding: 54.7px 51.4px;
}

.index .trw-of-madness {
  height: 53px;
  width: 73px;
}

.index .fontinfo {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 177px;
  left: 780px;
  min-width: 179px;
  position: fixed;
  top: 367px;
  z-index: 5;
}

.index .overlap-group2 {
  background-image: url(../img/pngegg-3-1@2x.png);
  padding: 68.7px 69.2px;
}

.index .fontinfo-1 {
  height: 38px;
  width: 39px;
}

.index .overlap {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 177px;
  justify-content: flex-end;
  min-width: 177px;
}
