:root { 
  --black: #000000;
  --black-2: #00000040;
  --white: #ffffff;
 
  --font-size-l: 64px;
  --font-size-m: 48px;
  --font-size-s: 45px;
  --font-size-xl: 86px;
  --font-size-xs: 43px;
  --font-size-xxl: 96px;
  --font-size-xxs: 40px;
 
  --font-family-eater: "Eater", Helvetica;
  --font-family-fontdiner_swanky: "Fontdiner Swanky", Helvetica;
  --font-family-freckle_face: "Freckle Face", Helvetica;
  --font-family-fredericka_the_great: "Fredericka the Great", Helvetica;
  --font-family-frijole: "Frijole", Helvetica;
  --font-family-griffy: "Griffy", Helvetica;
  --font-family-henny_penny: "Henny Penny", Helvetica;
  --font-family-homemade_apple: "Homemade Apple", Helvetica;
  --font-family-irish_grover: "Irish Grover", Helvetica;
  --font-family-jersey_10: "Jersey 10", Helvetica;
  --font-family-jim_nightshade: "Jim Nightshade", Helvetica;
  --font-family-just_me_again_down_here: "Just Me Again Down Here", Helvetica;
  --font-family-kablammo: "Kablammo", Helvetica;
  --font-family-kirang_haerang: "Kirang Haerang", Helvetica;
  --font-family-metal_mania: "Metal Mania", Helvetica;
  --font-family-rock_3d: "Rock 3D", Helvetica;
  --font-family-rubik_beastly: "Rubik Beastly", Helvetica;
  --font-family-unlock: "Unlock", Helvetica;
}
