:root { 
  --black: #000000;
  --black-2: #000000bf;
  --black-3: #00000059;
  --old-brick: #981f1b;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-s: 15px;
  --font-size-xl: 32px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 48px;
  --font-size-xxxxl: 64px;
 
  --font-family-butcherman_caps-regular: "Butcherman Caps-Regular", Helvetica;
  --font-family-eater: "Eater", Helvetica;
  --font-family-fontdiner_swanky: "Fontdiner Swanky", Helvetica;
  --font-family-freckle_face: "Freckle Face", Helvetica;
  --font-family-fredericka_the_great: "Fredericka the Great", Helvetica;
  --font-family-frijole: "Frijole", Helvetica;
  --font-family-griffy: "Griffy", Helvetica;
  --font-family-gurajada: "Gurajada", Helvetica;
  --font-family-henny_penny: "Henny Penny", Helvetica;
  --font-family-homemade_apple: "Homemade Apple", Helvetica;
  --font-family-irish_grover: "Irish Grover", Helvetica;
  --font-family-jaro: "Jaro", Helvetica;
  --font-family-jersey_10: "Jersey 10", Helvetica;
  --font-family-jim_nightshade: "Jim Nightshade", Helvetica;
  --font-family-just_me_again_down_here: "Just Me Again Down Here", Helvetica;
  --font-family-kablammo: "Kablammo", Helvetica;
  --font-family-kirang_haerang: "Kirang Haerang", Helvetica;
  --font-family-metal_mania: "Metal Mania", Helvetica;
  --font-family-noto_sans: "Noto Sans", Helvetica;
  --font-family-rock_3d: "Rock 3D", Helvetica;
  --font-family-rubik_beastly: "Rubik Beastly", Helvetica;
  --font-family-unlock: "Unlock", Helvetica;
}
.jaro-normal-white-48px {
  color: var(--white);
  font-family: var(--font-family-jaro);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.notosans-semi-bold-white-18px {
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.notosans-semi-bold-old-brick-18px {
  color: var(--old-brick);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.notosans-semi-bold-white-18px-2 {
  color: var(--white);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.gurajada-normal-white-64px {
  font-family: var(--font-family-gurajada);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.gurajada-normal-old-brick-64px {
  color: var(--old-brick);
  font-family: var(--font-family-gurajada);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.gurajada-normal-white-32px {
  color: var(--white);
  font-family: var(--font-family-gurajada);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.gurajada-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-gurajada);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.irishgrover-normal-white-48px {
  color: var(--white);
  font-family: var(--font-family-irish_grover);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.metalmania-normal-white-50px {
  color: var(--white);
  font-family: var(--font-family-metal_mania);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}

.rubikbeastly-normal-white-43px {
  color: var(--white);
  font-family: var(--font-family-rubik_beastly);
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
}

.griffy-normal-white-48px {
  color: var(--white);
  font-family: var(--font-family-griffy);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.eater-normal-white-40px {
  color: var(--white);
  font-family: var(--font-family-eater);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.hennypenny-normal-white-43px {
  color: var(--white);
  font-family: var(--font-family-henny_penny);
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
}

.unlock-normal-white-45px {
  color: var(--white);
  font-family: var(--font-family-unlock);
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
}
